<div id="charMujeresPorAnio" class="graficos mujerescontenido">
    <h3>Participaci&oacute;n de mujeres por pa&iacute;s por a&ntilde;o</h3>
    <div class="col-sm-3">
        <div class="descripcion">
            El gr&aacute;fico muestra, Juego a Juego, la evoluci&oacute;n de la participaci&oacute;n de mujeres de aquellos pa&iacute;ses que presentaron un m&iacute;nimo de 50 atletas a lo largo de toda su historia. Pod&eacute;s ocultar los pa&iacute;ses haciendo click en las referencias. Situate encima de las l&iacute;neas de progresi&oacute;n para ver en detalle la cantidad de competidoras.
        </div>
    </div>
    <div class="col-sm-9">
        <canvas chartjs-lo model="chartPaisesMujeresData" width="100%" height="400" id="lineMujeresCH"></canvas>
    </div>
</div>

<div id="charHombresMujeres" class="graficos participantescontenido">
<h3>Participaci&oacute;n Hombres y Mujeres en el tiempo</h3>
    <div class="col-sm-3">
        <div class="descripcion">
            Desde los primeros Juegos Ol&iacute;mpicos, cuando eran casi exclusivos para hombres, hasta nuestro a&ntilde;os, este gr&aacute;fico muestra el comparativo de atletas hombres y mujeres en cada edici&oacute;n. En Londres 2012 las mujeres compitieron en todos los deportes y la participaci&oacute;n se equipar&oacute; notablemente.
        </div>
    </div>
    <div class="col-sm-9">
        <canvas chartjs-lo id="lineHombresMujeres" width="100%" height="400" class="ct-chart"
                model="lineHombresMujeresData"></canvas>
    </div>
</div>